$icon-font-path: '../fonts/';

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/select2/src/scss/core.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Main marketing message and sign up button */
.jumbotron {
  //text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    //padding: 14px 24px;
    width: 100%;
  };
  background: #cffafa;//#ffffaa;
}

/* My styles */

.required::after {
  content:"*";
  color: red;
}

.select2 {
  width: 100% !important;
}
.select2-selection {
  height: 35px !important;
}

.center {
  margin: auto;
  max-width: 150px;
}

.view {
  a {color: red;}
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}
#users-list {
  border: 1px solid black;
  font-size: 8px;
  
  //border-radius: 20px;
  width: 100%;
  color: white;
  background-color: #010101;
  th, td {
    border: 1px solid white;
    text-align: center;
  };
  .actions {
    width: 70px;
  };
  button {
    width: 50%;
    height: auto;
    color: gray;
    //background-color: black;
  }
}

.jumbotron {
  margin: 0 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid black;
}


@media screen and (max-width: 480px){
  .jumbotron {
    width: 300px;
  }
}
@media screen and (min-width: 480px){
  .jumbotron {
    width: 460px;
  }
}
@media screen and (min-width: 640px){
  .jumbotron {
    width: 620px;
  }
}
@media screen and (min-width: 768px){
  .jumbotron {
    width: 760px;
  }
}

.jumbotron--tbl{
  @extend .jumbotron;
  min-width: 768px;
}